h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

body {
    background-color: #fab9a5;
    font-family: Helvetica, sans-serif;
    margin: 36px;
}

a:link {
    color: #242b82; 
}

a:hover {
    font-weight: 800;
}

a.recipe {
    display: block;
}